/* BooksComponent's private CSS styles */
.books {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 60em;
  }
.books li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(247, 239, 236);
    margin: .5em;
    padding: .3em 0;
    height: 3.6em;
    border-radius: 4px;
  }
.books li:hover {
    color: #4facdb;
    background-color: rgb(238, 194, 194);
    left: .1em;
  }
.books a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }

.books a:hover {
    color: #607D8B;
  }

.books .badge {
    display: inline-block;
    font-size: medium;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#3a928b;
    line-height: 2em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 3.5em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
button {
  background-color: rgb(218, 238, 187);
  border: none;
  padding: 5px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

button:hover {
  background-color: #bcd9e5;
}

button.delete {
  position: relative;
  left: 800px;
  top: -62px;
  background-color: rgb(195, 238, 138) !important;
  color: white;
}